# Dependency directories
node_modules/

# Compiled TypeScript
dist/

logs

# Local environment files
.env

# Logs
*.log
package-lock.json

# IDE and editor files
.idea/
.vscode/
*.code-workspace

# Ignore compiled binary files
*.db
*.sqlite
*.bin

# Test coverage directory
coverage/

# Ignore TypeScript declaration files
*.d.ts
